<!DOCTYPE html>
<html>
<head>
    <title>VALORANT Friend 掲示板</title>
    <%= stylesheet_link_tag 'welcome_index', :media => "all" %>
</head>
<body>
    <h1 class="title">VALORANT friend 掲示板</h1>
    <p class="date"><%= Date.today %></p>
    <%= image_tag 'firstpage.jpg' %>


    <%= link_to '掲示板へ', articles_path, class: "link" %>
</body>
</html>
